/* Search wrapper and form styling */

.search-wrapper {
    width: 100%;
    padding-right: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 90%;
    max-width: 800px;
  }
  
  .search-input {
    background-color: black;
    width: 70%;
    padding: 12px 16px;
    font-size: 1rem;
    border-radius: 4px 0 0 4px;
    color: #FFD700;
    transition: all 0.3s ease;
    outline: none;
    border: none;
  }
  
  .search-input::placeholder {
    color: #999;
    opacity: 0.7;
    font-size: 0.8rem;
  }
  
 
  
  .search-form button {
    padding: 12px 24px;
    background-color: #576B87;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
  }
  
  
  
  /* Loading indicator */
  .search-wrapper p {
    text-align: center;
    margin: 2rem 0;
    color: #666;
    font-style: italic;
  }
  
  /* Search results container */
  /* Search results container */
.search-results {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  padding-left: 7rem;
  box-sizing: border-box;
}
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .search-input {
      width: 65%;
    }
    
    .search-form button {
      padding: 12px 16px;
    }
    
    .search-results {
      grid-template-columns: repeat(auto-fill, 3minmax(200px, 1fr));
      gap: 1rem;
    }
  }
  
  /* For very small screens */
  @media (max-width: 480px) {
    .search-results {
      grid-template-columns: 1fr;
    }
  }